In [16]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rcParams

In [17]:
rcParams['figure.figsize'] = 8, 5
sns.set_style('darkgrid')

In [28]:
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2>{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [29]:
phones_df = pd.read_csv('hotsheet.csv')
phones_df.head()

,Name,SRP,New/Upgrade,Port-In,Port-In (60),BoostUp! (Down),BoostUp! (Monthly)
0,Coolpad Belleza,60,30,30,30,NaN,NaN
1,Wiki Ride 3,100,60,0,0,NaN,NaN
2,Samsung A02s,110,60,0,0,NaN,NaN
3,Moto G Play,130,60,0,0,NaN,NaN
4,LG K51,150,100,0,0,NaN,NaN

In [46]:
phones_df["Name"] = phones_df["Name"].str.lower()
phones_df

,Name,SRP,New/Upgrade,Port-In,Port-In (60),BoostUp! (Down),BoostUp! (Monthly),SRP Price with Activation,New/Upgrade Price with Activation,Port-In Price with Activation,Port-In ($60) Price with Activation,SRP Price with Activation + $50 Plan
0,coolpad belleza,60,30,30,30,NaN,NaN,95,85,55,55,145
1,wiki ride 3,100,60,0,0,NaN,NaN,135,125,25,25,185
2,samsung a02s,110,60,0,0,NaN,NaN,145,135,25,25,195
3,moto g play,130,60,0,0,NaN,NaN,165,155,25,25,215
4,lg k51,150,100,0,0,NaN,NaN,185,175,25,25,235
5,moto g fast,150,100,0,0,7.0,15.0,185,175,25,25,235
6,coolpad brisa,160,80,0,0,8.0,15.0,195,185,25,25,245
7,moto g power,170,150,0,0,8.0,15.0,205,195,25,25,255
8,moto g stylus,180,180,0,0,9.0,15.0,215,205,25,25,265
9,samsung a12,180,100,0,0,9.0,15.0,215,205,25,25,265
10,lg stylo 6,220,180,0,0,10.0,30.0,255,245,25,25,305
11,samsung a21,250,180,0,0,12.0,30.0,285,275,25,25,335
12,moto g stylus 5g,250,200,100,100,12.0,30.0,285,275,125,125,335
13,samsung a32 5g,280,200,100,100,13.0,30.0,315,305,125,125,365
14,samsung a51,400,230,230,130,19.0,50.0,435,425,255,155,485
15,iphone 8 re-newed,250,200,50,50,NaN,NaN,285,275,75,75,335
16,iphone xr re-newed,350,350,100,100,NaN,NaN,385,375,125,125,435
17,iphone se,400,250,250,50,19.0,50.0,435,425,275,75,485
18,iphone xr,500,350,300,300,22.0,100.0,535,525,325,325,585
19,iphone 11,600,600,500,500,21.0,220.0,635,625,525,525,685
20,iphone 12,830,830,830,830,23.0,410.0,865,855,855,855,915
21,iphone 12 pro,1000,1000,1000,1000,27.0,510.0,1035,1025,1025,1025,1085

In [42]:
phones_df['SRP Price with Activation'] = phones_df['SRP'] + 35
phones_df[['Name', 'SRP Price with Activation']]

                  Name  SRP Price with Activation
0      Coolpad Belleza                         95
1          Wiki Ride 3                        135
2         Samsung A02s                        145
3          Moto G Play                        165
4               LG K51                        185
5          Moto G Fast                        185
6        Coolpad Brisa                        195
7         Moto G Power                        205
8        Moto G Stylus                        215
9          Samsung A12                        215
10          LG Stylo 6                        255
11         Samsung A21                        285
12    Moto G Stylus 5G                        285
13      Samsung A32 5G                        315
14         Samsung A51                        435
15   iPhone 8 Re-Newed                        285
16  iPhone XR Re-Newed                        385
17           iPhone SE                        435
18           iPhone XR                        535
19           iPhone 11                        635
20           iPhone 12                        865
21       iPhone 12 Pro                       1035

In [39]:
phones_df['New/Upgrade Price with Activation'] = phones_df['SRP'] + 25
phones_df[['Name', 'New/Upgrade Price with Activation']]

                  Name  New/Upgrade Price with Activation
0      Coolpad Belleza                                 85
1          Wiki Ride 3                                125
2         Samsung A02s                                135
3          Moto G Play                                155
4               LG K51                                175
5          Moto G Fast                                175
6        Coolpad Brisa                                185
7         Moto G Power                                195
8        Moto G Stylus                                205
9          Samsung A12                                205
10          LG Stylo 6                                245
11         Samsung A21                                275
12    Moto G Stylus 5G                                275
13      Samsung A32 5G                                305
14         Samsung A51                                425
15   iPhone 8 Re-Newed                                275
16  iPhone XR Re-Newed                                375
17           iPhone SE                                425
18           iPhone XR                                525
19           iPhone 11                                625
20           iPhone 12                                855
21       iPhone 12 Pro                               1025

In [40]:
phones_df['Port-In Price with Activation'] = phones_df['Port-In'] + 25
phones_df[['Name', 'Port-In Price with Activation']]

                  Name  Port-In Price with Activation
0      Coolpad Belleza                             55
1          Wiki Ride 3                             25
2         Samsung A02s                             25
3          Moto G Play                             25
4               LG K51                             25
5          Moto G Fast                             25
6        Coolpad Brisa                             25
7         Moto G Power                             25
8        Moto G Stylus                             25
9          Samsung A12                             25
10          LG Stylo 6                             25
11         Samsung A21                             25
12    Moto G Stylus 5G                            125
13      Samsung A32 5G                            125
14         Samsung A51                            255
15   iPhone 8 Re-Newed                             75
16  iPhone XR Re-Newed                            125
17           iPhone SE                            275
18           iPhone XR                            325
19           iPhone 11                            525
20           iPhone 12                            855
21       iPhone 12 Pro                           1025

In [41]:
phones_df['Port-In ($60) Price with Activation'] = phones_df['Port-In (60)'] + 25
phones_df[['Name', 'Port-In ($60) Price with Activation']]

                  Name  Port-In ($60) Price with Activation
0      Coolpad Belleza                                   55
1          Wiki Ride 3                                   25
2         Samsung A02s                                   25
3          Moto G Play                                   25
4               LG K51                                   25
5          Moto G Fast                                   25
6        Coolpad Brisa                                   25
7         Moto G Power                                   25
8        Moto G Stylus                                   25
9          Samsung A12                                   25
10          LG Stylo 6                                   25
11         Samsung A21                                   25
12    Moto G Stylus 5G                                  125
13      Samsung A32 5G                                  125
14         Samsung A51                                  155
15   iPhone 8 Re-Newed                                   75
16  iPhone XR Re-Newed                                  125
17           iPhone SE                                   75
18           iPhone XR                                  325
19           iPhone 11                                  525
20           iPhone 12                                  855
21       iPhone 12 Pro                                 1025

In [44]:
phones_df['Port-In ($60) Price with Activation'] = phones_df['Port-In (60)'] + 25
phones_df[['Name', 'Port-In ($60) Price with Activation']]

                  Name  Port-In ($60) Price with Activation
0      Coolpad Belleza                                   55
1          Wiki Ride 3                                   25
2         Samsung A02s                                   25
3          Moto G Play                                   25
4               LG K51                                   25
5          Moto G Fast                                   25
6        Coolpad Brisa                                   25
7         Moto G Power                                   25
8        Moto G Stylus                                   25
9          Samsung A12                                   25
10          LG Stylo 6                                   25
11         Samsung A21                                   25
12    Moto G Stylus 5G                                  125
13      Samsung A32 5G                                  125
14         Samsung A51                                  155
15   iPhone 8 Re-Newed                                   75
16  iPhone XR Re-Newed                                  125
17           iPhone SE                                   75
18           iPhone XR                                  325
19           iPhone 11                                  525
20           iPhone 12                                  855
21       iPhone 12 Pro                                 1025